/* Styles go in this file. */

html, body { height: 100%; margin: 0; }

body {
	background-color:#CCC;	
}
#chart rect {
/*  fill: steelblue;*/
}

#chart text {
  fill: #000;
  font: 10px sans-serif;
  text-anchor: initial;
}
#chart {
	border:2px solid #000;
	background-color: #fff;
}
